<!-- app/views/pages/edit_card.html.erb -->
<div class="card-create-container">
  <div class="card-create-card">
    <h1>Edit Trading Card</h1>
    <%= form_with(model: @trading_card, url: update_card_path(@trading_card), local: true, multipart: true) do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="form-group">
        <%= form.label :front_image %>
        <%= form.file_field :front_image %>
      </div>
      <div class="form-group">
        <%= form.label :back_image %>
        <%= form.file_field :back_image %>
      </div>
      <div class="form-group">
        <%= form.label :move1_name %>
        <%= form.text_field :move1_name %>
      </div>
      <div class="form-group">
        <%= form.label :move1_description %>
        <%= form.text_area :move1_description %>
      </div>
      <div class="form-group">
        <%= form.label :move2_name %>
        <%= form.text_field :move2_name %>
      </div>
      <div class="form-group">
        <%= form.label :move2_description %>
        <%= form.text_area :move2_description %>
      </div>
      <div class="form-group">
        <%= form.label :color %>
        <%= form.color_field :color %>
      </div>
      <div class="form-group" style="flex: 1 1 100%;">
        <%= form.submit 'Update Card' %>
      </div>
    <% end %>
  </div>
</div>
